<style>
    body {
        background-color: #333;
    }

    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        color: #333;
        border: 1px solid #bbb;
        background-color: #ccc;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }

</style>


<div>
    <h1>Lista de productos</h1>
    <h3>Bienvenido, {{user.firstName}} {{user.lastName}} ({{user.role}})</h3>
    <form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>
    <ul class="list-group" id="product-list">
        {{#if products}}
            {{#each products}}
                <li class="list-group-item">
                    <h3>{{title}}</h3>
                    <img src="{{thumbnail}}" alt="{{thumbnail}}">
                    <p>Precio: {{price}}</p>
                    <p>Descripción: {{description}}</p>
                    <p>Código: {{code}}</p>
                    <p>Categoría: {{category}}</p>
                    <p>Stock: {{stock}}</p>
                    <p>ID: {{_id}}</p>
                    <button onclick="addToCart('{{_id}}')">Agregar al carrito</button>
                </li>
            {{/each}}
        {{else}}
            <p>No hay productos disponibles</p>
        {{/if}}
    </ul>

    <!-- Paginación -->
    <div>
        {{#if hasPrevPage}}
            <a href="/api/products/products?page={{prevPage}}&limit={{limit}}">Página Anterior</a>
        {{else}}
            <p>No hay página anterior</p>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/products/products?page={{nextPage}}&limit={{limit}}">Página Siguiente</a>
        {{else}}
            <p>No hay página siguiente</p>
        {{/if}}
    </div>
</div>

<script>
    function addToCart(productId) {
        const cartId = 'ID_DEL_CARRITO_AQUI'; // Reemplaza con el ID real del carrito
        fetch(`/api/carts/${cartId}/product/${productId}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
    }
</script>