<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Última Coneccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>
                <select id="role-{{this.id}}" onchange="updateRole('{{this.id}}')">
                    <option value="user" {{#if (eq this.role 'user')}}selected{{/if}}>User</option>
                    <option value="premium" {{#if (eq this.role 'premium')}}selected{{/if}}>Premium</option>
                    <option value="admin" {{#if (eq this.role 'admin')}}selected{{/if}}>Admin</option>
                </select>
            </td>
            <td>{{this.lastconnection}}</td>
            <td>
                <button onclick="deleteUser('{{this.id}}')">Eliminar</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/static/js/users.js"></script>